In [6]:
import pandas as pd
import os

In [15]:
# df = pd.read_csv('./SalesAnalysis/Sales_Data/Sales_April_2019.csv')

files = [file for file in os.listdir('./SalesAnalysis/Sales_Data')]

all_months_data = pd.DataFrame() # create empty dataframe

for file in files:
#     print(file)
    df = pd.read_csv('./SalesAnalysis/Sales_Data/'+ file)

    all_months_data = pd.concat([all_months_data, df])
#     print(all_months_data)

all_months_data.head()
    
all_months_data.to_csv('all_data.csv', index=False)

In [19]:
all_data = pd.read_csv('./all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [ ]:
# Augmented data with additional columns
# Add Month Column
# Clean up data
# Drop rows of NaN

In [26]:
# nan_df = all_data[all_data.isna().any(axis=1)]
# nan_df.head()

all_data['Month'] = all_data['Order Date'].str[0:2]
# nan_df = all_data[all_data.isna().any(axis=1)]
# nan_df.head() => no NaN value
all_data = all_data.dropna(how='all')

all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']
# all_data.head()

all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

# Convert columns to the correct type
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'], errors='coerce')
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'], errors='coerce')

In [27]:
# Add Sales column

all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,295665,Macbook Pro Laptop,1,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001",12,1700.00
1,295666,LG Washing Machine,1,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001",12,600.00
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001",12,11.95
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016",12,149.99
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301",12,11.95

In [31]:
# Q1) What was the best month for sales?  How much was the earned that month?

all_data.groupby('Month').sum()
result = all_data.groupby('Month').sum()
result

       Quantity Ordered    Price Each         Sales
Month
1                 10903  1.811768e+06  1.822257e+06
2                 13449  2.188885e+06  2.202022e+06
3                 17005  2.791208e+06  2.807100e+06
4                 20558  3.367671e+06  3.390670e+06
5                 18667  3.135125e+06  3.152607e+06
6                 15253  2.562026e+06  2.577802e+06
7                 16072  2.632540e+06  2.647776e+06
8                 13448  2.230345e+06  2.244468e+06
9                 13109  2.084992e+06  2.097560e+06
10                22703  3.715555e+06  3.736727e+06
11                19798  3.180601e+06  3.199603e+06
12                28114  4.588415e+06  4.613443e+06

In [4]:
import matplotlib.pyplot as plt

# months = range(1, 13)
# plt.bar(months, result['Sales'])
# plt.xticks(months)
# plt.ylabel('Sales in USD ($)')
# plt.xlabel('Month number')
# plt.show()

NameError: name 'result' is not defined

### Q2 What city had the highest number of sales?

In [64]:
# Add City Column
# use .apply()!!!

def get_city(address):
    return address.split(",")[1].strip(" ")

def get_state(address):
    return address.split(",")[2].split(' ')[1]
    
all_data['City'] = all_data['Purchase Address'].apply(lambda x: f"{get_city(x)}  ({get_state(x)})")

all_data.head()

# Now aggregate by city

results = all_data.groupby('City').sum()

# import matplotlib as plt

# cities = [city for city, df in all_data.groupby('City')]
# plt.bar(cities, result['Sales'])
# plt.xticks(cities, rotation='vertical' size=8)
# plt.ylabel('Sales in USD ($)')
# plt.xlabel('City')
# plt.show()

IndexError: list index out of range

### Q3 What time should we display advertisements to maximize likelihood of customers' buying products?

In [75]:
import pandas as pd 

all_data.head()

# convert with day time library
# all_data['Order Date'] = pd.to_datetime(all_data['Order Date'])

ValueError: Unknown string format