In [2]:
import pandas as pd
import os

In [3]:
# df = pd.read_csv('./SalesAnalysis/Sales_Data/Sales_April_2019.csv')

files = [file for file in os.listdir('./SalesAnalysis/Sales_Data')]

all_months_data = pd.DataFrame() # create empty dataframe

for file in files:
#     print(file)
    df = pd.read_csv('./SalesAnalysis/Sales_Data/'+ file)

    all_months_data = pd.concat([all_months_data, df])
#     print(all_months_data)

all_months_data.head()
    
all_months_data.to_csv('all_data.csv', index=False)

In [4]:
all_data = pd.read_csv('./all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

In [ ]:
# Augmented data with additional columns
# Add Month Column
# Clean up data
# Drop rows of NaN

In [5]:
# nan_df = all_data[all_data.isna().any(axis=1)]
# nan_df.head()

all_data['Month'] = all_data['Order Date'].str[0:2]
# nan_df = all_data[all_data.isna().any(axis=1)]
# nan_df.head() => no NaN value
all_data = all_data.dropna(how='all')

all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']
# all_data.head()

all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

# Convert columns to the correct type
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'], errors='coerce')
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'], errors='coerce')

In [15]:
# Add Sales column

all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City (NY),0
1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City (NY),7
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City (NY),18
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco (CA),15
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta (GA),12

In [7]:
# Q1) What was the best month for sales?  How much was the earned that month?

all_data.groupby('Month').sum()
result = all_data.groupby('Month').sum()
result

       Quantity Ordered    Price Each         Sales
Month
1                 10903  1.811768e+06  1.822257e+06
2                 13449  2.188885e+06  2.202022e+06
3                 17005  2.791208e+06  2.807100e+06
4                 20558  3.367671e+06  3.390670e+06
5                 18667  3.135125e+06  3.152607e+06
6                 15253  2.562026e+06  2.577802e+06
7                 16072  2.632540e+06  2.647776e+06
8                 13448  2.230345e+06  2.244468e+06
9                 13109  2.084992e+06  2.097560e+06
10                22703  3.715555e+06  3.736727e+06
11                19798  3.180601e+06  3.199603e+06
12                28114  4.588415e+06  4.613443e+06

In [4]:
# import matplotlib.pyplot as plt

# months = range(1, 13)
# plt.bar(months, result['Sales'])
# plt.xticks(months)
# plt.ylabel('Sales in USD ($)')
# plt.xlabel('Month number')
# plt.show()

NameError: name 'result' is not defined

### Q2 What city had the highest number of sales?

In [10]:
# Add City Column
# use .apply()!!!

def get_city(address):
    return address.split(",")[1].strip(" ")

def get_state(address):
    return address.split(",")[2].split(' ')[1]
    
all_data['City'] = all_data['Purchase Address'].apply(lambda x: f"{get_city(x)}  ({get_state(x)})")

all_data.head()

# Now aggregate by city

results = all_data.groupby('City').sum()

# import matplotlib as plt

# cities = [city for city, df in all_data.groupby('City')]
# plt.bar(cities, result['Sales'])
# plt.xticks(cities, rotation='vertical' size=8)
# plt.ylabel('Sales in USD ($)')
# plt.xlabel('City')
# plt.show()

### Q3 What time should we display advertisements to maximize likelihood of customers' buying products?

In [7]:
import pandas as pd 

all_data.head()

# convert with day time library
all_data['Order Date'] = pd.to_datetime(all_data['Order Date'])
all_data['Hour'] = all_data['Order Date'].dt.hour

hours = [hour for hour, df in all_data.groupby('Hour')]
all_data.groupby(['Hour']).count()
# Plotting for line chart
# plt.plot(hours, all_data.groupby(['Hour']).count())
# plt.xticks(hours)
# plt.xlabel('Hour')
# plt.ylabel('# of Orders')
# plt.grid()
# plt.show()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
Hour,,,,,,,,
0,3910,3910,3910,3910,3910,3910,3910,3910
1,2350,2350,2350,2350,2350,2350,2350,2350
2,1243,1243,1243,1243,1243,1243,1243,1243
3,831,831,831,831,831,831,831,831
4,854,854,854,854,854,854,854,854
5,1321,1321,1321,1321,1321,1321,1321,1321
6,2482,2482,2482,2482,2482,2482,2482,2482
7,4011,4011,4011,4011,4011,4011,4011,4011
8,6256,6256,6256,6256,6256,6256,6256,6256
9,8748,8748,8748,8748,8748,8748,8748,8748
10,10944,10944,10944,10944,10944,10944,10944,10944
11,12411,12411,12411,12411,12411,12411,12411,12411
12,12587,12587,12587,12587,12587,12587,12587,12587
13,12129,12129,12129,12129,12129,12129,12129,12129
14,10984,10984,10984,10984,10984,10984,10984,10984
15,10175,10175,10175,10175,10175,10175,10175,10175
16,10384,10384,10384,10384,10384,10384,10384,10384
17,10899,10899,10899,10899,10899,10899,10899,10899
18,12280,12280,12280,12280,12280,12280,12280,12280
19,12905,12905,12905,12905,12905,12905,12905,12905
20,12228,12228,12228,12228,12228,12228,12228,12228
21,10921,10921,10921,10921,10921,10921,10921,10921
22,8822,8822,8822,8822,8822,8822,8822,8822
23,6275,6275,6275,6275,6275,6275,6275,6275

### Q4 What products are most often sold together?

In [14]:
df = all_data[all_data['Order ID'].duplicated(keep=False)]

df['Grouped'] = df.groupby('Order ID')['Product'].transform(lambda x: ', '.join(x))

df = df[['Order ID', 'Grouped']].drop_duplicates()

df.head()

/Users/sungjbyun/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Order ID                                            Grouped
16   295681  Google Phone, USB-C Charging Cable, Bose Sound...
36   295698              Vareebadd Phone, USB-C Charging Cable
42   295703  AA Batteries (4-pack), Bose SoundSport Headphones
66   295726                   iPhone, Lightning Charging Cable
76   295735  iPhone, Apple Airpods Headphones, Wired Headph...

In [21]:
# Referenced: https://stackoverflow.com/questions/14762181/adding-a-y-axis-label-to-secondary-y-axis-in-matplotlib

from itertools import combinations
from collections import Counter

count = Counter()

for row in df['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))
    
# count.most_common(10)
for key, value in count.most_common():
    print(key, value)

('iPhone', ' Lightning Charging Cable') 1005
('Google Phone', ' USB-C Charging Cable') 987
('iPhone', ' Wired Headphones') 447
('Google Phone', ' Wired Headphones') 414
('Vareebadd Phone', ' USB-C Charging Cable') 361
('iPhone', ' Apple Airpods Headphones') 360
('Google Phone', ' Bose SoundSport Headphones') 220
('Vareebadd Phone', ' Wired Headphones') 143
(' USB-C Charging Cable', ' Wired Headphones') 120
('Vareebadd Phone', ' Bose SoundSport Headphones') 80
(' Lightning Charging Cable', ' Wired Headphones') 62
('Lightning Charging Cable', ' USB-C Charging Cable') 55
('Lightning Charging Cable', ' AA Batteries (4-pack)') 52
(' USB-C Charging Cable', ' Bose SoundSport Headphones') 51
('AA Batteries (4-pack)', ' Lightning Charging Cable') 51
('Lightning Charging Cable', ' Lightning Charging Cable') 51
('AAA Batteries (4-pack)', ' USB-C Charging Cable') 50
('AA Batteries (4-pack)', ' AAA Batteries (4-pack)') 48
('AAA Batteries (4-pack)', ' AAA Batteries (4-pack)') 48
(' Lightning Charging Cable', ' Apple Airpods Headphones') 47
('USB-C Charging Cable', ' USB-C Charging Cable') 46
('Apple Airpods Headphones', ' AAA Batteries (4-pack)') 45
('AAA Batteries (4-pack)', ' Lightning Charging Cable') 44
('AA Batteries (4-pack)', ' Wired Headphones') 44
('Wired Headphones', ' AAA Batteries (4-pack)') 43
('AAA Batteries (4-pack)', ' Wired Headphones') 43
('Apple Airpods Headphones', ' Wired Headphones') 42
('Wired Headphones', ' USB-C Charging Cable') 42
('USB-C Charging Cable', ' AAA Batteries (4-pack)') 42
('USB-C Charging Cable', ' Lightning Charging Cable') 41
('AA Batteries (4-pack)', ' Apple Airpods Headphones') 41
('USB-C Charging Cable', ' Wired Headphones') 40
('Lightning Charging Cable', ' Bose SoundSport Headphones') 39
('AAA Batteries (4-pack)', ' AA Batteries (4-pack)') 39
('Bose SoundSport Headphones', ' AAA Batteries (4-pack)') 37
('AA Batteries (4-pack)', ' USB-C Charging Cable') 37
('Wired Headphones', ' AA Batteries (4-pack)') 36
('Wired Headphones', ' Lightning Charging Cable') 36
('Lightning Charging Cable', ' AAA Batteries (4-pack)') 35
('USB-C Charging Cable', ' AA Batteries (4-pack)') 35
('AA Batteries (4-pack)', ' AA Batteries (4-pack)') 35
('Apple Airpods Headphones', ' Lightning Charging Cable') 35
('Wired Headphones', ' Wired Headphones') 34
('Lightning Charging Cable', ' Apple Airpods Headphones') 34
('AAA Batteries (4-pack)', ' Apple Airpods Headphones') 33
('Bose SoundSport Headphones', ' Lightning Charging Cable') 32
('USB-C Charging Cable', ' Apple Airpods Headphones') 31
('Apple Airpods Headphones', ' Bose SoundSport Headphones') 31
('Lightning Charging Cable', ' Wired Headphones') 30
(' Bose SoundSport Headphones', ' Wired Headphones') 29
('USB-C Charging Cable', ' 27in FHD Monitor') 29
('Apple Airpods Headphones', ' AA Batteries (4-pack)') 29
('Wired Headphones', ' Apple Airpods Headphones') 29
('Apple Airpods Headphones', ' USB-C Charging Cable') 29
('AA Batteries (4-pack)', ' Bose SoundSport Headphones') 28
(' Apple Airpods Headphones', ' Wired Headphones') 27
('Bose SoundSport Headphones', ' Bose SoundSport Headphones') 27
('Bose SoundSport Headphones', ' AA Batteries (4-pack)') 27
('USB-C Charging Cable', ' Bose SoundSport Headphones') 26
('Bose SoundSport Headphones', ' USB-C Charging Cable') 25
('Bose SoundSport Headphones', ' Wired Headphones') 24
('Apple Airpods Headphones', ' Apple Airpods Headphones') 24
('AAA Batteries (4-pack)', ' 27in FHD Monitor') 22
('27in FHD Monitor', ' AAA Batteries (4-pack)') 21
('Wired Headphones', ' Bose SoundSport Headphones') 21
('AAA Batteries (4-pack)', ' Bose SoundSport Headphones') 20
('34in Ultrawide Monitor', ' AA Batteries (4-pack)') 19
('34in Ultrawide Monitor', ' Lightning Charging Cable') 18
('Lightning Charging Cable', ' 27in FHD Monitor') 18
('AA Batteries (4-pack)', ' iPhone') 18
('27in FHD Monitor', ' Lightning Charging Cable') 18
('Lightning Charging Cable', ' 27in 4K Gaming Monitor') 17
('iPhone', ' AAA Batteries (4-pack)') 17
('Wired Headphones', ' 34in Ultrawide Monitor') 17
('Wired Headphones', ' 27in 4K Gaming Monitor') 17
('Bose SoundSport Headphones', ' Apple Airpods Headphones') 17
('ThinkPad Laptop', ' AAA Batteries (4-pack)') 16
('27in 4K Gaming Monitor', ' Lightning Charging Cable') 16
('27in 4K Gaming Monitor', ' AAA Batteries (4-pack)') 15
('20in Monitor', ' USB-C Charging Cable') 15
('34in Ultrawide Monitor', ' USB-C Charging Cable') 15
('27in FHD Monitor', ' AA Batteries (4-pack)') 15
('Lightning Charging Cable', ' 20in Monitor') 15
('AAA Batteries (4-pack)', ' 27in 4K Gaming Monitor') 15
('iPhone', ' USB-C Charging Cable') 15
('iPhone', ' AA Batteries (4-pack)') 14
('Lightning Charging Cable', ' Google Phone') 14
('Lightning Charging Cable', ' 34in Ultrawide Monitor') 14
('AAA Batteries (4-pack)', ' iPhone') 14
('AA Batteries (4-pack)', ' 27in 4K Gaming Monitor') 14
('Google Phone', ' AA Batteries (4-pack)') 14
('Bose SoundSport Headphones', ' 27in FHD Monitor') 13
('Apple Airpods Headphones', ' Google Phone') 13
('Wired Headphones', ' iPhone') 13
('AA Batteries (4-pack)', ' Flatscreen TV') 13
('AA Batteries (4-pack)', ' 34in Ultrawide Monitor') 13
('AAA Batteries (4-pack)', ' 34in Ultrawide Monitor') 13
('Apple Airpods Headphones', ' iPhone') 13
('27in FHD Monitor', ' Bose SoundSport Headphones') 12
('27in FHD Monitor', ' Apple Airpods Headphones') 12
('20in Monitor', ' Wired Headphones') 12
('USB-C Charging Cable', ' Google Phone') 12
('Apple Airpods Headphones', ' 27in FHD Monitor') 12
('27in 4K Gaming Monitor', ' AA Batteries (4-pack)') 12
('27in FHD Monitor', ' USB-C Charging Cable') 12
('Apple Airpods Headphones', ' 27in 4K Gaming Monitor') 12
('Macbook Pro Laptop', ' USB-C Charging Cable') 12
('34in Ultrawide Monitor', ' AAA Batteries (4-pack)') 12
('Google Phone', ' Lightning Charging Cable') 12
('Wired Headphones', ' Macbook Pro Laptop') 12
('USB-C Charging Cable', ' iPhone') 12
('Apple Airpods Headphones', ' Macbook Pro Laptop') 12
('27in 4K Gaming Monitor', ' USB-C Charging Cable') 12
('27in 4K Gaming Monitor', ' Wired Headphones') 11
('Macbook Pro Laptop', ' Lightning Charging Cable') 11
('AAA Batteries (4-pack)', ' ThinkPad Laptop') 11
('USB-C Charging Cable', ' 27in 4K Gaming Monitor') 11
('ThinkPad Laptop', ' Lightning Charging Cable') 11
('Google Phone', ' AAA Batteries (4-pack)') 11
('USB-C Charging Cable', ' ThinkPad Laptop') 11
('Flatscreen TV', ' AAA Batteries (4-pack)') 11
('AAA Batteries (4-pack)', ' Macbook Pro Laptop') 11
('Lightning Charging Cable', ' Flatscreen TV') 11
('Wired Headphones', ' 27in FHD Monitor') 11
('AAA Batteries (4-pack)', ' Google Phone') 11
('34in Ultrawide Monitor', ' Wired Headphones') 11
('20in Monitor', ' Lightning Charging Cable') 11
('AA Batteries (4-pack)', ' 27in FHD Monitor') 11
('Macbook Pro Laptop', ' Bose SoundSport Headphones') 11
('AA Batteries (4-pack)', ' Google Phone') 11
('USB-C Charging Cable', ' 20in Monitor') 10
('USB-C Charging Cable', ' Flatscreen TV') 10
('Flatscreen TV', ' Lightning Charging Cable') 10
('AAA Batteries (4-pack)', ' Flatscreen TV') 10
('27in FHD Monitor', ' Wired Headphones') 10
('Lightning Charging Cable', ' Macbook Pro Laptop') 10
('AA Batteries (4-pack)', ' 20in Monitor') 10
('Bose SoundSport Headphones', ' 34in Ultrawide Monitor') 10
('Bose SoundSport Headphones', ' 27in 4K Gaming Monitor') 10
('Wired Headphones', ' ThinkPad Laptop') 10
('27in 4K Gaming Monitor', ' Apple Airpods Headphones') 10
('USB-C Charging Cable', ' 34in Ultrawide Monitor') 10
('Lightning Charging Cable', ' iPhone') 9
('ThinkPad Laptop', ' Bose SoundSport Headphones') 9
('20in Monitor', ' Bose SoundSport Headphones') 9
('AA Batteries (4-pack)', ' ThinkPad Laptop') 9
('Lightning Charging Cable', ' ThinkPad Laptop') 9
('Bose SoundSport Headphones', ' Flatscreen TV') 9
('ThinkPad Laptop', ' USB-C Charging Cable') 9
('Macbook Pro Laptop', ' AA Batteries (4-pack)') 9
('USB-C Charging Cable', ' Macbook Pro Laptop') 9
('27in 4K Gaming Monitor', ' Bose SoundSport Headphones') 9
('Apple Airpods Headphones', ' ThinkPad Laptop') 9
('Vareebadd Phone', ' AA Batteries (4-pack)') 9
('27in FHD Monitor', ' 27in FHD Monitor') 9
('AAA Batteries (4-pack)', ' 20in Monitor') 8
('Flatscreen TV', ' AA Batteries (4-pack)') 8
('Wired Headphones', ' Google Phone') 8
('AA Batteries (4-pack)', ' Macbook Pro Laptop') 8
('34in Ultrawide Monitor', ' Apple Airpods Headphones') 8
('Apple Airpods Headphones', ' Flatscreen TV') 8
('ThinkPad Laptop', ' AA Batteries (4-pack)') 8
('Bose SoundSport Headphones', ' Google Phone') 8
('Macbook Pro Laptop', ' Apple Airpods Headphones') 7
('34in Ultrawide Monitor', ' iPhone') 7
('Macbook Pro Laptop', ' AAA Batteries (4-pack)') 7
('34in Ultrawide Monitor', ' 34in Ultrawide Monitor') 7
('Macbook Pro Laptop', ' Wired Headphones') 7
('Google Phone', ' Apple Airpods Headphones') 7
('Flatscreen TV', ' USB-C Charging Cable') 7
('Bose SoundSport Headphones', ' iPhone') 7
('Macbook Pro Laptop', ' 27in 4K Gaming Monitor') 7
('20in Monitor', ' Apple Airpods Headphones') 7
('Wired Headphones', ' Flatscreen TV') 7
('Wired Headphones', ' 20in Monitor') 7
('Google Phone', ' 27in FHD Monitor') 7
('ThinkPad Laptop', ' Apple Airpods Headphones') 7
('Flatscreen TV', ' Flatscreen TV') 6
('Apple Airpods Headphones', ' 20in Monitor') 6
('Apple Airpods Headphones', ' Vareebadd Phone') 6
('iPhone', ' 34in Ultrawide Monitor') 6
('Wired Headphones', ' Vareebadd Phone') 6
('USB-C Charging Cable', ' Vareebadd Phone') 6
('34in Ultrawide Monitor', ' Bose SoundSport Headphones') 6
('iPhone', ' 27in 4K Gaming Monitor') 6
('Apple Airpods Headphones', ' 34in Ultrawide Monitor') 6
('Vareebadd Phone', ' Apple Airpods Headphones') 6
('27in 4K Gaming Monitor', ' 34in Ultrawide Monitor') 6
('27in 4K Gaming Monitor', ' Macbook Pro Laptop') 6
('Google Phone', ' iPhone') 6
('27in FHD Monitor', ' Macbook Pro Laptop') 6
('iPhone', ' Flatscreen TV') 6
('20in Monitor', ' AA Batteries (4-pack)') 6
('Bose SoundSport Headphones', ' 20in Monitor') 6
('Flatscreen TV', ' 34in Ultrawide Monitor') 5
('27in 4K Gaming Monitor', ' Google Phone') 5
('27in 4K Gaming Monitor', ' 27in 4K Gaming Monitor') 5
('27in FHD Monitor', ' 34in Ultrawide Monitor') 5
('Flatscreen TV', ' Apple Airpods Headphones') 5
('iPhone', ' Bose SoundSport Headphones') 5
('34in Ultrawide Monitor', ' 27in FHD Monitor') 5
('Macbook Pro Laptop', ' Google Phone') 4
('Macbook Pro Laptop', ' 34in Ultrawide Monitor') 4
('27in 4K Gaming Monitor', ' 27in FHD Monitor') 4
('Vareebadd Phone', ' 34in Ultrawide Monitor') 4
('Lightning Charging Cable', ' LG Washing Machine') 4
('27in FHD Monitor', ' ThinkPad Laptop') 4
('27in 4K Gaming Monitor', ' ThinkPad Laptop') 4
('iPhone', ' Vareebadd Phone') 4
('Bose SoundSport Headphones', ' ThinkPad Laptop') 4
('20in Monitor', ' Macbook Pro Laptop') 4
('Flatscreen TV', ' Wired Headphones') 4
('Flatscreen TV', ' 27in FHD Monitor') 4
('Vareebadd Phone', ' Google Phone') 4
('ThinkPad Laptop', ' Wired Headphones') 4
('LG Dryer', ' AA Batteries (4-pack)') 4
('iPhone', ' ThinkPad Laptop') 4
('LG Washing Machine', ' AAA Batteries (4-pack)') 4
('27in FHD Monitor', ' 27in 4K Gaming Monitor') 4
('Flatscreen TV', ' Macbook Pro Laptop') 4
('ThinkPad Laptop', ' Flatscreen TV') 4
('Flatscreen TV', ' iPhone') 4
('Bose SoundSport Headphones', ' Macbook Pro Laptop') 4
('AAA Batteries (4-pack)', ' Vareebadd Phone') 4
(' Lightning Charging Cable', ' AA Batteries (4-pack)') 3
(' Wired Headphones', ' AA Batteries (4-pack)') 3
('Macbook Pro Laptop', ' iPhone') 3
('Vareebadd Phone', ' iPhone') 3
('Vareebadd Phone', ' Flatscreen TV') 3
('Wired Headphones', ' LG Washing Machine') 3
('ThinkPad Laptop', ' iPhone') 3
('Google Phone', ' 34in Ultrawide Monitor') 3
('Macbook Pro Laptop', ' 27in FHD Monitor') 3
(' Apple Airpods Headphones', ' AAA Batteries (4-pack)') 3
(' USB-C Charging Cable', ' Apple Airpods Headphones') 3
('Macbook Pro Laptop', ' ThinkPad Laptop') 3
('ThinkPad Laptop', ' Google Phone') 3
(' Wired Headphones', ' USB-C Charging Cable') 3
('34in Ultrawide Monitor', ' Macbook Pro Laptop') 3
(' Lightning Charging Cable', ' Lightning Charging Cable') 3
('Google Phone', ' ThinkPad Laptop') 3
('20in Monitor', ' 20in Monitor') 3
('Flatscreen TV', ' Bose SoundSport Headphones') 3
('AA Batteries (4-pack)', ' Vareebadd Phone') 3
('27in FHD Monitor', ' 20in Monitor') 3
('iPhone', ' Google Phone') 3
(' USB-C Charging Cable', ' AAA Batteries (4-pack)') 3
(' USB-C Charging Cable', ' AA Batteries (4-pack)') 3
('27in 4K Gaming Monitor', ' Flatscreen TV') 3
('27in 4K Gaming Monitor', ' iPhone') 3
('Apple Airpods Headphones', ' LG Dryer') 3
('34in Ultrawide Monitor', ' Flatscreen TV') 3
('Macbook Pro Laptop', ' Macbook Pro Laptop') 3
('34in Ultrawide Monitor', ' ThinkPad Laptop') 3
(' Lightning Charging Cable', ' USB-C Charging Cable') 3
('20in Monitor', ' AAA Batteries (4-pack)') 3
('Flatscreen TV', ' Google Phone') 3
('Google Phone', ' Google Phone') 3
('Google Phone', ' Macbook Pro Laptop') 3
('iPhone', ' Macbook Pro Laptop') 3
(' USB-C Charging Cable', ' iPhone') 2
('20in Monitor', ' 27in FHD Monitor') 2
('ThinkPad Laptop', ' ThinkPad Laptop') 2
('ThinkPad Laptop', ' Macbook Pro Laptop') 2
('Bose SoundSport Headphones', ' Vareebadd Phone') 2
('Vareebadd Phone', ' ThinkPad Laptop') 2
('20in Monitor', ' ThinkPad Laptop') 2
(' Wired Headphones', ' Apple Airpods Headphones') 2
('Lightning Charging Cable', ' Vareebadd Phone') 2
('34in Ultrawide Monitor', ' Google Phone') 2
(' USB-C Charging Cable', ' USB-C Charging Cable') 2
('Macbook Pro Laptop', ' 20in Monitor') 2
('Lightning Charging Cable', ' LG Dryer') 2
('Flatscreen TV', ' 27in 4K Gaming Monitor') 2
(' USB-C Charging Cable', ' 27in FHD Monitor') 2
('iPhone', ' iPhone') 2
(' Wired Headphones', ' iPhone') 2
('27in FHD Monitor', ' LG Dryer') 2
(' Lightning Charging Cable', ' Google Phone') 2
('Vareebadd Phone', ' 27in 4K Gaming Monitor') 2
('27in 4K Gaming Monitor', ' 20in Monitor') 2
('LG Washing Machine', ' Lightning Charging Cable') 2
('Flatscreen TV', ' ThinkPad Laptop') 2
('AA Batteries (4-pack)', ' LG Dryer') 2
('Macbook Pro Laptop', ' LG Washing Machine') 2
('ThinkPad Laptop', ' 27in FHD Monitor') 2
('Vareebadd Phone', ' AAA Batteries (4-pack)') 2
('27in FHD Monitor', ' Flatscreen TV') 2
('Google Phone', ' 20in Monitor') 2
('20in Monitor', ' Google Phone') 2
('iPhone', ' 20in Monitor') 2
('LG Washing Machine', ' Bose SoundSport Headphones') 2
('Macbook Pro Laptop', ' Flatscreen TV') 1
('ThinkPad Laptop', ' Vareebadd Phone') 1
(' USB-C Charging Cable', ' 34in Ultrawide Monitor') 1
(' Bose SoundSport Headphones', ' 34in Ultrawide Monitor') 1
('Google Phone', ' Flatscreen TV') 1
('27in 4K Gaming Monitor', ' Vareebadd Phone') 1
(' Lightning Charging Cable', ' Vareebadd Phone') 1
('27in FHD Monitor', ' iPhone') 1
('Vareebadd Phone', ' Lightning Charging Cable') 1
(' Lightning Charging Cable', ' iPhone') 1
('LG Washing Machine', ' Google Phone') 1
('LG Washing Machine', ' Wired Headphones') 1
(' Apple Airpods Headphones', ' Google Phone') 1
(' Wired Headphones', ' Google Phone') 1
(' Wired Headphones', ' 27in 4K Gaming Monitor') 1
(' Lightning Charging Cable', ' 27in 4K Gaming Monitor') 1
('27in FHD Monitor', ' Vareebadd Phone') 1
('LG Washing Machine', ' 27in 4K Gaming Monitor') 1
(' Apple Airpods Headphones', ' Bose SoundSport Headphones') 1
('LG Washing Machine', ' Apple Airpods Headphones') 1
('27in 4K Gaming Monitor', ' LG Dryer') 1
('20in Monitor', ' LG Washing Machine') 1
('LG Dryer', ' Google Phone') 1
('Google Phone', ' Vareebadd Phone') 1
(' USB-C Charging Cable', ' Vareebadd Phone') 1
('20in Monitor', ' iPhone') 1
('LG Dryer', ' Vareebadd Phone') 1
('Vareebadd Phone', ' 27in FHD Monitor') 1
('ThinkPad Laptop', ' 27in 4K Gaming Monitor') 1
('20in Monitor', ' Flatscreen TV') 1
('USB-C Charging Cable', ' LG Dryer') 1
(' Wired Headphones', ' Lightning Charging Cable') 1
(' Bose SoundSport Headphones', ' Apple Airpods Headphones') 1
('LG Washing Machine', ' 20in Monitor') 1
('Flatscreen TV', ' 20in Monitor') 1
('27in FHD Monitor', ' Google Phone') 1
('iPhone', ' 27in FHD Monitor') 1
(' USB-C Charging Cable', ' Lightning Charging Cable') 1
(' Lightning Charging Cable', ' AAA Batteries (4-pack)') 1
('LG Dryer', ' AAA Batteries (4-pack)') 1
('ThinkPad Laptop', ' 34in Ultrawide Monitor') 1
('iPhone', ' LG Washing Machine') 1
(' Bose SoundSport Headphones', ' Lightning Charging Cable') 1
(' Bose SoundSport Headphones', ' Flatscreen TV') 1
(' Lightning Charging Cable', ' Flatscreen TV') 1
('AAA Batteries (4-pack)', ' LG Dryer') 1
('LG Dryer', ' 27in 4K Gaming Monitor') 1
('LG Dryer', ' Flatscreen TV') 1
('LG Dryer', ' Lightning Charging Cable') 1
('ThinkPad Laptop', ' LG Dryer') 1
('LG Washing Machine', ' AA Batteries (4-pack)') 1
('27in FHD Monitor', ' LG Washing Machine') 1
('LG Dryer', ' 27in FHD Monitor') 1
('20in Monitor', ' 34in Ultrawide Monitor') 1
(' Wired Headphones', ' Wired Headphones') 1
(' Wired Headphones', ' Macbook Pro Laptop') 1
('34in Ultrawide Monitor', ' 20in Monitor') 1
(' Wired Headphones', ' 27in FHD Monitor') 1
('34in Ultrawide Monitor', ' LG Washing Machine') 1
('Google Phone', ' 27in 4K Gaming Monitor') 1
('LG Washing Machine', ' iPhone') 1
('LG Dryer', ' Wired Headphones') 1
(' Lightning Charging Cable', ' 34in Ultrawide Monitor') 1
(' Bose SoundSport Headphones', ' 27in FHD Monitor') 1

### Q5 What product sold the most?  Why do you think it sold most?

In [26]:
product_group = all_data.groupby('Product')
quantity_ordered = product_group.sum()['Quantity Ordered']

products = [product for product, df in product_group]

prices = all_data.groupby('Product').mean()['Price Each']

# fig, ax1 = plt.subplots()
# ax2 = ax1.twinx()
# ax1.bar(products, quantity_ordered color='g')
# ax2.plot(products, prices,'b-')

# ax1.set_xlabel('Product Name')
# ax1.set_ylabel('QUantity Ordered', color='g')
# ax2.set_ylabel('Price ($)', color='b')
# ax1.set_xticklabels(products, rotation='vertical' size=8)

# plt.show()

# plt.bar(products, quantity_ordered)
# plt.xticks(products, rotation='vertical', size=8)
# plt.ylabel('# of Orders')
# plt.xlabel('Product')
# plt.show()

Product
20in Monitor                   109.99
27in 4K Gaming Monitor         389.99
27in FHD Monitor               149.99
34in Ultrawide Monitor         379.99
AA Batteries (4-pack)            3.84
AAA Batteries (4-pack)           2.99
Apple Airpods Headphones       150.00
Bose SoundSport Headphones      99.99
Flatscreen TV                  300.00
Google Phone                   600.00
LG Dryer                       600.00
LG Washing Machine             600.00
Lightning Charging Cable        14.95
Macbook Pro Laptop            1700.00
ThinkPad Laptop                999.99
USB-C Charging Cable            11.95
Vareebadd Phone                400.00
Wired Headphones                11.99
iPhone                         700.00
Name: Price Each, dtype: float64